@font-face{
    src: url(fonts/Hack-Regular.ttf);
    font-family: hack;
}

body{
    background-image: url(pictures/coffee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.window{
    border-radius: 6px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: #00000099; 

    /* backdrop-filter: blur(3px); */
}

/*
.fadeAway{
    animation: fadeout-down 1s forwards;
}

@keyframes fadeout-down{
    from{
        transform: translateY(0px);
    }

    to{
        transform: translateY(30px);
    }
}
*/