body{
    background-image: url(pictures/coffee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 500px;
    height: 300px;
    
    margin: 0 auto;
}

.blur {
    background: rgba(0, 0, 0, 0.308); 
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.fadeAway{
    animation: fadeout-down 1s forwards;
}

@keyframes fadeout-down {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(30px);
    }
}

