#menu{
    width: 500px;
    height: 279px;
}

#search{
    width: 100%;
    font-family: hack;
    font-size: 13px;
    color: #f9f8eb;
    -webkit-font-smoothing: antialiased;    /* experimental */

    outline: none;
    border: none;

    padding: 15px;
    padding-bottom: 0px;
    box-sizing: border-box;
    background-color: transparent;
}
#search:focus{
    outline: none;
    border: none;
}

.item{
    font-family: hack;
    font-size: 13px;
    color: #818181;
    -webkit-font-smoothing: antialiased;    /* experimental */

    padding: 11px;
    padding-left: 15px;
    padding-bottom: 0px;
    cursor: pointer;
}
.item:hover{
    color: #f9f8eb;
}
.highlight{
    color: #f9f8eb;
}