#window{
    position: absolute;
    top: 10px;          
    right: 10px;       
    bottom: 10px;     
    left: 10px;      
    padding: 10px;

    display: grid;
    gap: 10px;
    grid-template-columns: 20% 20% auto;
    grid-template-rows: 20px auto 20px;
}

#top{
    grid-column: 1 / -1;
    grid-row: 1;
}
#col1{
    grid-column: 1;
    grid-row: 2;
}
#col2{
    grid-column: 2;
    grid-row: 2;
}
#col3{
    grid-column: 3;
    grid-row: 2;
}
#bottom{
    grid-column: 1 / -1;
    grid-row: 3;
}

.item{
    font-family: hack;
    font-size: 13px;
    color: #f9f8eb;
    -webkit-font-smoothing: antialiased;    /* experimental */

    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
.selected{
    background-color: #818181;
}